body {
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

/* Estilização da barra de navegação */
.navbar-container {
  display: flex;
  align-items: center;
  background-color: #E11922; /* Fundo vermelho */
  padding: 10px;
  height: 8vh;
}

.navbar-container img {
  margin-right: 20px;
}

nav{
  display: flex;
  align-content: space-between;
}

/* Estilização do título da página */
h1 {
  color: #333;
  text-align: center;
  margin-top: 20px;
}

/* Estilização do container das rotas */
.routes-container {
  padding: 20px;
}

/* Estilização dos links da navbar */
.navbar-container a {
  color: white; /* Cor do texto branco */
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.navbar-container a:hover {
  background-color: #CC0000; /* Vermelho mais escuro ao passar o mouse */
}

li{
  list-style: none;
}