.setembroClass{
    background-color: yellow;
    color: black;
}

.outubroClass{
    background-color: pink;
    color: aliceblue;
}

.novembroClass{
    background-color: cornflowerblue;
    color: aliceblue;
}